.project {
    display: flex;
    flex-direction: column;
    gap: 10rem;
}

.projetTitle {
    font-weight: 800;
}

.projectTag {
    font-size: 24pt;
    font-weight: 400;
}

.projectInfo {
    padding: 1rem 0;
}